body {
  height: 100vh;
  margin: 0;
  background-image: url("https://img.freepik.com/free-vector/background-monsoon-season_52683-115103.jpg?t=st=1739240324~exp=1739243924~hmac=54584cb43142ce7a7d69f60ba234c081e60ea24007a01de2482fd09514152cb7&w=1380");
  background-size: cover;
  background-position: center;
}
