body {
  height: 100vh;
  margin: 0;
  background-image: url("https://img.freepik.com/free-vector/background-monsoon-season_52683-115103.jpg?t=st=1739006406~exp=1739010006~hmac=a5c3dd633b010198e7112d5214ef50ebfb5501e5326775281b6474e853fa16d0&w=1380");
  background-size: cover;
  background-position: center;
}
